@tailwind base;
@tailwind components;

body {
    background-color: #ccc;
}

.myinput {
    border: 1px solid #000;
    width: 200px;
    padding: 20px;
        font-size: 20px;
}

@tailwind utilities;